#current-weather {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#current-weather .temperature {
    margin-bottom: 0;
    font-size: 2rem;
}

#current-weather .temperature .span {
    font-size: 1.25rem;
}

#current-weather .description {
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
}

#current-weather .name {
    font-size: 1rem;
    margin-bottom: 0;
}
