#hello-app > .card {
    height: calc(
        100vh - var(--menu-horizontal-height) - var(--content-padding) -
            var(--content-padding)
    );
}

#hello-app #map {
    height: 100%;
}

#hello-app #map .leaflet-popup-content {
    font-size: 0.8rem;
}

#hello-app #map .leaflet-popup-content-wrapper {
    border-radius: 3px;
}
