.btn {
    --bs-border-radius: 0.375rem;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #235f7b;
    --bs-btn-border-color: #235f7b;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #235f7bd9;
    --bs-btn-hover-border-color: #235f7bd9;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #235f7bd9;
    --bs-btn-active-border-color: #235f7bd9;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #235f7b90;
    --bs-btn-disabled-border-color: #235f7b90;
}
