:root {
    --font-size: 14px;

    --bs-body-bg: #f5f7fa;
    --bs-body-bg-rgb: 245, 247, 250;

    --bs-secondary-color: #3e465b;
    --bs-secondary-color-rgb: 62, 70, 91;

    --bs-bg-darker: #222834;

    --menu-horizontal-height: 3rem;
    --menu-vertical-width: 0rem;

    --bs-body-font-family: "Roboto";
}

/* SM */

@media (min-width: 576px) {
    :root {
        --font-size: 14px;
    }
}

/* MD */

@media (min-width: 768px) {
    :root {
        --font-size: 14px;
    }
}

/* LG  */

@media (min-width: 992px) {
    :root {
        --font-size: 15px;

        --menu-horizontal-height: 4rem;
        --menu-vertical-width: 16rem;
    }
}

/* XL */

@media (min-width: 1200px) {
    :root {
        --font-size: 16px;
    }
}

/* XL */

@media (min-width: 1400px) {
}
